nav {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #262626;
  padding: 5px;
  flex-wrap: wrap;
}

.logo-bar {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 10px;
}

.logo-bar i {
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.logo-bar figure {
  height: 40px;
  cursor: pointer;
}

.logo-bar figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.left-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.search-bar {
  border: 1px solid black;
  display: flex;
  align-items: center;
  background-color: #141414;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  flex: 1;
}

.search-bar i {
  font-size: 25px;
  color: #666462;
  cursor: pointer;
}

.search-bar input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  color: #666462;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 600;
}

.watch-section {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  cursor: pointer;
}

.watch-section i {
  color: #a9a9a9;
  font-size: 20px;
}

.watch-section p {
  font-size: 17px;
  color: #a9a9a9;
  font-family: sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
}

.toggle-language {
  display: flex;
}

.toggle-language span {
  padding: 5px;
  cursor: pointer;
}

.toggle-language span:first-child {
  background-color: #a8a8a8;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.toggle-language span:nth-child(2) {
  background-color: #2d2825;
  color: #a8a8a8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sign-in-button {
  border: 1px solid black;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 1px 20px;
  border-radius: 10px;
  background-color: #5d2d95;
  color: white;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .watch-section p {
    display: none;
  }

  .logo-bar figure {
    height: 30px;
  }
  .sign-in-button p {
    display: none;
  }
  .sign-in-button {
    padding: 10px;
  }
}
